<header class="header">
    <div class="header-left">
        <div class="logo-prysm">PR<span class="letter-y">Y</span>SM</div>
        <div class="header-divider">×</div>
        <div class="logo-poklonka">
            <span>POKLONKA PLACE</span>
        </div>
    </div>
    <div class="header-right">
        <div class="header-icon-wrapper notification-wrapper">
            <i data-lucide="bell"></i>
            <div class="notification-dot"></div>
        </div>
        <div class="header-icon-wrapper profile-wrapper">
            <i data-lucide="user"></i>
        </div>
        <i data-lucide="chevron-down" class="icon-chevron"></i>
    </div>
</header>
