<aside class="sidebar">
    <nav class="sidebar-menu">
        <!-- Секция 1 -->
        <a href="index.html" class="menu-item" id="menu-home">
            <i data-lucide="home"></i>
            <span>Главная</span>
        </a>
        <div class="menu-item">
            <i data-lucide="send"></i>
            <span>Заявки</span>
        </div>
        <div class="menu-item">
            <i data-lucide="shopping-cart"></i>
            <span>Заказы</span>
        </div>

        <!-- ПРОПУСКА -->
        <div class="menu-section-title">ПРОПУСКА</div>
        <div class="menu-item">
            <i data-lucide="id-card"></i>
            <span>Гостевые</span>
        </div>
        <div class="menu-item">
            <i data-lucide="key"></i>
            <span>Постоянные</span>
        </div>
        <div class="menu-item">
            <i data-lucide="square-parking"></i>
            <span>Паркинг</span>
        </div>
        <div class="menu-item">
            <i data-lucide="ban"></i>
            <span>Черный список</span>
        </div>

        <!-- ПУБЛИКАЦИИ -->
        <div class="menu-section-title">ПРОПУСКА</div>
        <div class="menu-item">
            <i data-lucide="newspaper"></i>
            <span>Новости и акции</span>
        </div>
        <div class="menu-item">
            <i data-lucide="megaphone"></i>
            <span>Оповещения</span>
        </div>
        <div class="menu-item">
            <i data-lucide="image"></i>
            <span>Баннеры</span>
        </div>

        <!-- АРЕНДА -->
        <div class="menu-section-title">АРЕНДА</div>
        <div class="menu-item">
            <i data-lucide="file-text"></i>
            <span>Договоры</span>
        </div>
        <div class="menu-item">
            <i data-lucide="layout-grid"></i>
            <span>Объекты</span>
        </div>
        <a href="pages/reports.html" class="menu-item" id="menu-reports">
            <i data-lucide="bar-chart-3"></i>
            <span>Отчеты</span>
        </a>

        <!-- СПРАВОЧНИКИ -->
        <div class="menu-section-title">СПРАВОЧНИКИ</div>
        <div class="menu-item">
            <i data-lucide="pen-tool"></i>
            <span>Сервис</span>
        </div>
        <div class="menu-item">
            <i data-lucide="shopping-bag"></i>
            <span>Маркетплейс</span>
        </div>

        <!-- НАСТРОЙКИ ОРГАНИЗАЦИИ -->
        <div class="menu-section-title">НАСТРОЙКИ ОРГАНИЗАЦИИ</div>
        <div class="menu-item">
            <i data-lucide="briefcase"></i>
            <span>Компании</span>
        </div>
        <div class="menu-item">
            <i data-lucide="users"></i>
            <span>Пользователи</span>
        </div>
        <div class="menu-item">
            <i data-lucide="network"></i>
            <span>Роли</span>
        </div>
    </nav>
    
    <button class="sidebar-collapse-btn">
        <i data-lucide="chevron-left"></i>
    </button>
</aside>
